body {
  font-family: Helvetica, sans-serif;
  background-color: gray
}



#imageContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#left {
  width: 150px;
  height:150px;
}
#center {
  width: 150px;
  height:150px;
}
#right {
  width: 150px;
  height:150px;
}
