body {
  font-family: Helvetica, sans-serif;
  background-color: gray
}

#image-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.one {
  width: 400px;
  height:400px;
  float: left;
  display: fixed;
}
.two {
  width: 400px;
  height:400px;
  float: center;
  display:fixed;
}
.three {
  width: 400px;
  height:400px;
  float: right;
  display:absolute;
}
